<div class="home_title">
	<h1>Welcome to MyWallet</h1>
	<p><i>The newest wallet application on the web!</i></p>
</div>

<div class="home_tag">
	<p>Check the balances for each of your cards!</p>
</div>

<div class="home_tag">
	<p>Designate friends and family as authorized users!</p>
</div>

<div class="home_tag">
	<p>Add as many cards as you'd like!</p>
</div>