<!DOCTYPE html>
<html>
<head>
  <title>Welcome to MyWallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>Hi I'm the home page</p>
<%= yield %>

</body>
</html>
